*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    --bg:rgba(38,10,67,1);
}
body, html{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.navbar{
    width: 100%;
    height: 6rem;
    background-color: rgba(38,10,67,1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12rem;
    padding-right: 4rem;
}
.navs{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-left: 10rem;
}
.jjj{
    width: 20%;
}
.yyy{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navs a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 1rem;
    padding-right: 1rem;
}
.line{
    background: linear-gradient(90deg,rgba(33,150,83,0) 0%,rgba(33,150,83,.35) 48.44%,rgba(33,150,83,0) 97.4%),#260A43;
    height: 3.5rem;
}

.but{
    width: 35%;
    display: flex;
    margin-right: 4rem;
}
.sign, .join{
    margin-left: 1rem;
    color: white;
    height: 3.2rem;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}
.sign{
    width: 250%;
    background-color: transparent;
    border: 2px solid red;
}
.join{
    width: 350%;
    background: linear-gradient(180deg,#F01B4A 0%,#DD1944 100%);
    border: 0;
}
.reviews{
    background-color: var(--bg);
    width: 100%;
    height: 42em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.smol{
    width: 2rem;
    height: 1rem;
    background-color: transparent;
    border: 0;
    display: none;
}
.smol hr{
    width: 100%;
    height: .4rem;
    padding-bottom: .1rem;
    background-color: white;
}
.first h1, .first h4, .first img, .second h1, .second h4, .second img{
    padding-bottom: 2rem;
}
.first h1, .second h1{
    color: white;
    font-size: clamp(8ch, 25%, 14ch);
    width: 100%;
    font-weight: 600;
}
.first h4, .second h4{
    color: white;
    font-size: clamp(3ch, 8%, 6ch);
    width: 100%;
    font-weight: 600;
}
.hero img, .herosec img{
    width: 50rem;
    height: auto;
}
.hero, .herosec{
    padding-top: 3rem;
    padding-right: 70rem;
    height: 100%;
    width: 30%;
}
.first, .second{
    padding-top: 10rem;
    padding-left: 10vw;
    height: 100%;
    width: 70%;
}
.first button, .second button{
    width: 40%;
}

.yes{
    width: 100%;
    background: linear-gradient(183.48deg,#21073C -.13%,#00022F 98.08%);
    height: 270rem;
}

.main, .accessible, .thingies, .mic, .free{
    width: 100%;
    height: 35rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
br{
    margin-bottom: 1rem;
}
.second{
    width: 80rem;
    height: 100%;
}
.herosec{
    padding-left: 10vw;
    padding-top: 6rem;
}
.herosec img{
    width: 40rem;
}
.herosec{
    padding-right: 10vw;
    margin-right: 30vw;
}
.second button{
    width: 15rem;
}
.second h1{
    font-size: clamp(6ch, 18.75%, 11.5ch);
}
.second h4{
    font-size: clamp(2ch, 6.25%, 3.5ch);
    font-weight: 500;
}

.herothird{
    padding-left: 10vw;
    padding-right: 0;
    margin-right: 0 !important;
}
.third{
    padding-left: 0;
    width: 65% ;
    margin-left: 20vw;
}
.free .herosec{
    margin-right: 30vw;
}
.accessible .second h1{
    width: 30rem;
}

.TV{
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

h1{
    font-size: 3.5rem;
}
h4{
    font-weight: 100;
    font-size: 1.3rem;
}
.firstrow, .secondrow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-top: 1%;
    padding-bottom: 2rem;
}
.box{
    width: 12%;
    height: 10rem;
    background: linear-gradient(to bottom left,#21073C -.13%,#00022F 98.08%) left;
    margin-left: 2rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.6rem;
    color: white;
}

.faq{
    width: 100%;
    height: 70rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.faq h3{
    color: white;
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 2rem;
}

.long{
    background: linear-gradient(242.97deg,#260A43 -3.06%,rgba(38,10,67,0) 100%);
    width: 60%;
    height: 4rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
}
.tp{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.8rem;
    position: absolute;
    top: 0;
}
.tp h4{
    font-weight: 600;
    font-size: 1.2rem;
}
.tp h4:nth-child(2){
    font-size: 3rem;
    margin-top: -1rem;
    color: red;
}
.bt{
    display: none;
}
.bt p{
    font-size: 1.2rem;
    font-weight: 100;
}
.footer{
    width: 100%;
    height: 24rem;
    background-color: #201c44;
}
.cont{
    padding-top: 4rem;
    padding-left: 24vw;
    padding-right: 12vw;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.cont .left{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1rem;
}
.left .socials{
    display: flex;
    width: 100%;
    height: 100%;
}
.left img, .left p{
    padding-bottom: 1rem;
}
.cont .left .socials img{
    width: 2rem;
    height: 3rem;
    margin-right: 1rem;
}
.cont .left img{
    width: 10rem;
    margin-bottom: 2rem;
}
.cont .right{
    margin-top: -2rem;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    flex-direction: column;
}
.cont .right a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 100;
    padding-bottom: 0.5rem;
}

@media (max-width: 1540px) {
    .cont{
        padding-left: 12vw;
        padding-right: 12vw;
    }
    .box img{
        width: 50%;
        font-size: 1rem;
    }
    .box{
        width: 14%;
        height: 8rem;
    }
    .herothird{
        padding-left: 2vw;
    }
}
/*
@media (max-width: 1300px){
    .first h1{
        font-size: 1rem;
    }
    .main *, .accessible *, .thingies *, .mic *, .free *{
        margin: 0;
        padding: 0;
    }
    .main, .accessible, .thingies, .mic, .free{
        height: 40rem;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-bottom: 15rem;
    }
    .thingies, .mic{
        flex-direction: column;
    }
    .second{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .herosec{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
*/

@media (max-width: 1150px) {
    .navbar *{
        padding: 0;
        margin: 0;
    }
    .smol{
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
        cursor: pointer;
    }
    .jjj{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .yyy{
        width: 100%;
        height: 15rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        display: none;
    }
    .navbar{
        display: flex;
        align-items: first baseline;
        flex-direction: column;
        height: 6rem;
        margin: 0;
        padding: 0;
        padding-top: 1rem;
        padding-left: 2rem;
    }
    .navs{
        display: flex;
        align-items: first baseline;
        flex-direction: column;
        height: 20rem;
        margin: 0;
        padding: 0;
    }
    .but{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 2rem 0px 1rem;
    }
    .navs a{
        font-size: 1.7rem;
    }
}


@media (max-width: 1360px) {
    .navbar{
        padding-left: 0;
    }
}
@media (max-width: 1220px) {
    .long{
        width: 100%;
    }
    .cont{
        padding-left: 6vw;
        padding-right: 6vw;
    }
    .box img{
        width: 50%;
        font-size: 1rem;
    }
    .box{
        width: 14%;
        height: 6rem;
    }
}
@media (max-width: 950px) {
    .left{
        width: 60%;
    }
    .left *{
        width: 60%;
    }
    .TV h1{
        font-size: 2.5rem;
    }
}
@media (max-width: 736px) {
    .left{
        width: 60%;
    }
    .left p {
        width: 100%;
    }
    .left p {
        font-size: 0.8rem;
    }
    .cont .right a{
        font-size: 0.8rem;
    }
}
@media (max-width: 800px) {
    .tp h4{
        font-size: 1rem;
    }
    .box img{
        width: 70%;
        font-size: 1rem;
    }
    .box{
        width: 16%;
        height: 6rem;
    }
    .TV h1{
        font-size: 1.5rem;
    }
    .TV h4{
        font-size: 1.1rem;
    }
}
@media (max-width: 490px){
    .cont .right{
        width: 100%;
    }
}
@media (max-width: 600px){
    .box img{
        width: 80%;
        font-size: 0.6rem;
    }
    .box{
        width: 20rem;
        height: 4rem;
        margin-left: 1rem;
    }
}

@media (min-width:1151px){
    .navbar{
        height: 6rem !important;
    }
    .yyy{
        display: flex !important;
    }
}